  ............................................................
  ............................................................
  ....................=====~...........=++++=.................
  ..................=========.........++++++++=...............
  .................===========......=++++++++++...............
  ................============.....=+++++++++++:..............
  ...............=============.....++++++++++++...............
  ..............:============,....+++++++++++++...............
  .............=============:...=++++++++++++=................
  ............=============,....++++++++++++=.................
  ...........:============,....+++++++++++++..................
  ..........:=============...,+++++++++++++...................
  .........=============:....++++++++++++=......,,............
  ........:============,....+++++++++++++....~~~~~~~~.........
  .......,=============....+++++++++++++....~~~~~~~~~~........
  .......============:....+++++++++++++.....~~~~~~~~~~:.......
  .......===========:.....++++++++++++......~~~~~~~~~~:.......
  ........==========.......++++++++++.......~~~~~~~~~~........
  .........=======:.........++++++++.........~~~~~~~~.........
  ............................................................
  ............................................................

  Welcome to a monday.com server!

  **************************************************************
  * Connecting to this server is permitted to authorized users *
  * only, and all commands and operations are being logged and *
  * monitored on this machine.                                 *
  * If you got here by mistake, disconnect immediately and     *
  * notify us at security@monday.com                           *
  **************************************************************
