
                              ./++/-      `.---.`
                             /ssssss+    .:::::::`
                           `+ssssssso   .::::::::`
                          .ossssssso. `-::::::::.
                         :osssssss+` `-:::::::-`
                       `/ssssssso:  .::::::::-
                      `+ssssssso-  -::::::::.  -+ooo/`
                      ossssssso.  .::::::::`  .sssssso
                      +ssssss+`   .::::::-`   .osssss+
                       -/++/-      `.---.      `:++/-

  Welcome to a monday.com server!

  ********************************************************************
  * Access to this server is restricted to authorized users only,    *
  * and all commands and operations are being logged and monitored   *
  * at all times.                                                    *
  *                                                                  *
  * If you got here by mistake, disconnect immediately and notify    *
  * us at security@monday.com                                        *
  ********************************************************************
